<div class="content">
  <div class="sub-nav">
    <% if admin_user? %>
        <h3 class="title">Booked Events</h3>
    <% else %>
      <h3 class="title">My Events</h3>
    <% end %>

  </div>
    <table class="table">
      <thead>
        <tr>
          <th class="pad-21">Date</th>
          <th>Event Type</th>
          <th>Venue</th>
          <% if admin_user? %>
            <th>Booked By</th>
          <% end %>
          <th>Timings</th>
          <th>Status</th>
          <th>Action</th>

        </tr>
      </thead>
      <% @events.each do |event| %>
        <tr>
          <td class="pad-21"><%= event.booking_date.strftime('%d/%m/%Y') %></td>
          <td><%= event.event_type.capitalize %></td>
          <td><%= event.venue.name %></td>
          <% if admin_user? %>
            <td><%= event.user.first_name + " " + event.user.last_name %></td>
          <% end %>
          <td><%= event.time_slot.to_s.capitalize.tr('_', ' ') %></td>
          <td>
            <% if event.menu %>
              menu ok
            <% else %>
              <a href="/dashboard/events/menu/<%= event.id %>">Menu pending</a>
            <% end %>
          </td>
          <td>
            <% if admin_user? %>
                <a href="#" class="update-link"> Details</a>
            <% else %>
              <a href="/dashboard/events/<%= event.id %>/show" class="update-link">Details</a>
              <a href="#" class="update-link">Update</a>
              <a href="#" class="del-link">Cancel</a>
            <% end %>
          </td>
        </tr>

      <% end %>
    </table>
</div>
