<!DOCTYPE html>
<html>
  <head>
    <head>
      <meta charset="utf-8">
      <meta name="description" content="CS-619 FYP Online Event Management System">
      <meta name="author" content="F16026C510">
      <title>Festiva</title>
      <!-- GOOGLE FONTS -->
      <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Roboto:300,700" rel="stylesheet">
      <!-- FONT AWESOME -->
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

      <link rel="stylesheet" href="/css/grid.css">
      <link rel="stylesheet" href="/css/dashboard.min.css">


    </head>
  </head>
  <body>

    <div class="main-container">
      <div class="side-nav col-lg-2">
        <header id="nav-header">
          <div class="logo">
            <h2>festiva</h2>
          </div>
        </header>
        <div class="user-info">
          <img src="https://res.cloudinary.com/fypeventapp/image/upload/<%= "#{current_user.dp_public_id}.#{current_user.dp_format}" %>" alt="" id="avatar">

          <ul>
            <li><%= current_user.first_name %></li>
            <li><%= current_user.last_name %></li>
          </ul>
        </div>
        <div class="nav">
          <ul>
            <% if admin_user? %>
              <li><a href="/users/"><i class="fa fa-group"></i>Users</a></li>
              <li><a href="/dashboard/events"><i class="fa fa-calendar"></i>Events</a></li>
              <li><a href="/dashboard/venues/"><i class="fa fa-map"></i>Venues</a></li>
              <li><a href="/dashboard/fooditems/"><i class="fa fa-cutlery"></i> Food Items</a></li>
            <% else %>
              <li><a href="/dashboard/events"><i class="fa fa-calendar"></i>My events</a></li>
              <li><a href="/dashboard/venues"><i class="fa fa fa-map"></i>List Venues</a></li>
              <li><a href="#"><i class="fa fa-refresh"></i>Feedback</a></li>
            <% end %>

          </ul>
          <ul id="setting">
            <% if admin_user? %>
              <li><i class="fa fa-cogs"></i>App Settings</li>
            <% else %>
              <li><i class="fa fa-cogs"></i>Account Settings</li>
              <!-- <li><a href="/users/edit"><i class="fa fa-cogs"></i>Account Settings</a></li> -->
            <% end %>

          </ul>
        </div>
      </div>

      <div class="main col-lg-10">
        <header id="main-header">
          <h2>Event Management System</h2>
          <div class="main-header-nav">
            <ul>
              <% unless admin_user? %>
                <li><a href="/dashboard/events/book" class="btn-green"><i class="fa fa-calendar-plus-o in-btn" aria-hidden="true"></i>Book and event</a></li>
              <% end %>
              <li><a href="/auth/logout" class="btn-logout"><i class="fa fa-sign-out in-btn" aria-hidden="true"></i> Logout</a></li>
            </ul>
          </div>
        </header>

        <div class="main-content">
          <% if flash[:success] %>
            <p class="flash-sucess flash-db"><%= flash[:success] %></p>
          <% elsif flash[:error] %>
            <p class="flash-error flash-db"><%= flash[:error] %></p>
          <% end %>
          <%= yield %>
        </div>
      </div>
  </div>



  </body>
</html>
