<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <ul>
        <% if admin_user? %>
          <li>admin</li>
        <% elsif current_user %>
          <li>client</li>
        <% end %>
      </ul>

      <ul>
        <% if current_user %>
        <h1><%= current_user.email %></h1>
          <li>(<%= current_user.first_name %>)<a href="/auth/logout">Logout</a></li>
        <% else %>
          <li><a href="/auth/login">Login</a></li>
          <li><a href="/users/new/register">Register</a></li>
        <% end %>
        <li><a href="/protected">Protected</a></li>
      </ul>
    </header>

    <% if flash[:success] %>
      <%= flash[:success] %>
    <% end %>
    <% if flash[:error] %>
      <%= flash[:error] %>
    <% end %>

    <% if admin_user? %>
      <div class="aside">
        <ul>
          <li><a href="/dashboard/venues">Venues</a></li>
          <li><a href="/dashboard/arrangements">Seating Arrangements</a></li>
          <li><a href="/dashboard/fooditems">Food Items</a></li>
        </ul>
      </div>
    <% elsif current_user %>
      <div class="aside">

      </div>
    <% end %>
    <div class="content">

    </div>
    <footer>

    </footer>





    <%= yield %>


  </body>
</html>
